.DS_Store
.vscode
.claude/
photos/*
*.log
*.csv
*.txt
previews/*
TODO
*.pickle
*.out

# Secrets
.env


# Data
database/*.csv
database/*.db
database/*.txt

database/224x224
database/512x512

database/Test224

