[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
black = "*"
b2 = "*"
pandas = "*"
numpy = "*"
openai = "*"
anthropic = "*"
pillow = "*"
rawpy = "*"
imageio = "*"

[dev-packages]

[requires]
python_version = "3.12.1"
