[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
black = "*"
b2 = "*"
pandas = "*"
numpy = "*"
openai = "*"
anthropic = "*"
pillow = "*"
rawpy = "*"
imageio = "*"
datasette-media = "*"
pyheif = "*"
datasette-render-images = "*"
datasette = "==1.0a16"
torch = "*"
torchvision = "*"
llm-clip = "*"

[dev-packages]

[requires]
python_version = "/opt/homebrew/bin/python3"
